.Auth {
    font-size: 1.4em;
    position: absolute;
    /* position: fixed; */
    margin-top: 6%;
}

.backgroundImage {
  max-height: 850px;
}

.error-msg {
  margin: 10px 5px;
  color: red;
  font-size: 14px;
}

.hidden {
  display: none;
}