#chatControls {
    position: absolute;
    width: 91%;
    bottom: 10px;
    /* display: flex; */
}

#inputMsg {
    /* padding-right: 0px; */
}

/* .inputCol {
    padding: 0px 5px;
} */

#inputMsgCol {
    padding-right: 5px;
}

#sendBtnCol {
    padding-left: 5px;
}